[Unit]
Description=etcd distributed key-value store
Documentation=https://etcd.io/docs/v3.5/
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=etcd
Group=etcd
ExecStart={{ etcd_binary_dir }}/etcd \
  --name={{ etcd_name }} \
  --data-dir={{ etcd_data_dir }} \
  --initial-advertise-peer-urls=http://{{ ansible_host }}:{{ etcd_peer_port }} \
  --listen-peer-urls=http://0.0.0.0:{{ etcd_peer_port }} \
  --advertise-client-urls=http://{{ ansible_host }}:{{ etcd_client_port }} \
  --listen-client-urls=http://0.0.0.0:{{ etcd_client_port }} \
  --initial-cluster={{ etcd_initial_cluster }} \
  --initial-cluster-token={{ etcd_initial_cluster_token }} \
  --initial-cluster-state={{ etcd_initial_cluster_state }}
Restart=on-failure
RestartSec=5
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
