apiVersion: v1
kind: Config
clusters:
- name: {{ kubernetes_cluster_name }}
  cluster:
    server: https://{{ kubernetes_api_server_address }}:{{ kubernetes_api_server_port }}
    certificate-authority-data: {{ lookup('ansible.builtin.file', kubernetes_cert_source + '/ca.pem') | b64encode }}
users:
- name: system:kube-scheduler
  user:
    client-certificate-data: {{ lookup('ansible.builtin.file', kubernetes_cert_source + '/scheduler.pem') | b64encode }}
    client-key-data: {{ lookup('ansible.builtin.file', kubernetes_cert_source + '/scheduler-key.pem') | b64encode }}
contexts:
- name: system:kube-scheduler@{{ kubernetes_cluster_name }}
  context:
    cluster: {{ kubernetes_cluster_name }}
    user: system:kube-scheduler
current-context: system:kube-scheduler@{{ kubernetes_cluster_name }}
