apiVersion: v1
kind: Config
clusters:
  - name: {{ kubernetes_cluster_name }}
    cluster:
      server: https://{{ kubernetes_api_server_address }}:{{ kubernetes_api_server_port }}
      certificate-authority: {{ kubernetes_node_ca_path }}
users:
  - name: system:node:{{ inventory_hostname }}
    user:
      client-certificate: {{ kubernetes_node_kubelet_cert_path }}
      client-key: {{ kubernetes_node_kubelet_key_path }}
contexts:
  - name: system:node:{{ inventory_hostname }}@{{ kubernetes_cluster_name }}
    context:
      cluster: {{ kubernetes_cluster_name }}
      user: system:node:{{ inventory_hostname }}
current-context: system:node:{{ inventory_hostname }}@{{ kubernetes_cluster_name }}
