#kube-proxy-config.yaml.j2
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
clientConnection:
  kubeconfig: {{ kube_proxy_kubeconfig }}
clusterCIDR: {{ kubernetes_cluster_cidr }}
mode: iptables
