apiVersion: v1
kind: Config
clusters:
- name: {{ kubernetes_cluster_name }}
  cluster:
    server: https://{{ kubernetes_api_server_address }}:{{ kubernetes_api_server_port }}
    certificate-authority-data: {{ lookup('ansible.builtin.file', certificate_source + '/ca.pem') | b64encode }}
users:
- name: kubelet-bootstrap
  user:
    token: {{ bootstrap_token }}
contexts:
- name: kubelet-bootstrap@{{ kubernetes_cluster_name }}
  context:
    cluster: {{ kubernetes_cluster_name }}
    user: kubelet-bootstrap
current-context: kubelet-bootstrap@{{ kubernetes_cluster_name }}