apiVersion: v1
kind: Config
clusters:
- name: {{ kubernetes_cluster_name }}
  cluster:
    server: https://{{ kubernetes_api_server_address }}:{{ kubernetes_api_server_port }}
    certificate-authority-data: {{ lookup('ansible.builtin.file', certificate_source + '/ca.pem') | b64encode }}
users:
- name: {{ item.user }}
  user:
    client-certificate-data: {{ lookup('ansible.builtin.file', item.source + '/' + item.certificate) | b64encode }}
    client-key-data: {{ lookup('ansible.builtin.file', item.source + '/' + item.key) | b64encode }}
contexts:
- name: {{ item.context }}
  context:
    cluster: {{ kubernetes_cluster_name }}
    user: {{ item.user }}
current-context: {{ item.context }}